.root {
  padding: 8px;
}

.filters {
  display: flex;
  margin-bottom: 16px;
  gap: 4px;
}

.label {
  user-select: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}

.itemWrapper {
  display: grid;
  grid-template-areas: 'A';
  padding: 0;
  border: none;
  background: none;
  text-align: unset;
  cursor: pointer;
  appearance: none;
}

.itemWrapper:hover {
  outline: 1px auto #55d;
}

.itemWrapperCurrent {
  outline: 1px auto #00d;
}

.itemCanvas {
  display: block;
  grid-area: A;
}

.counter {
  grid-area: A;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.number {
  padding: 0 2px;
  min-width: 18px;
  line-height: 18px;
  height: 18px;
  border-radius: 9px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: rgba(34, 139, 34, 0.8);
}

.footer {
  margin-top: 8px;
}
