.root {
  display: flex;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 190px;
  padding: 8px;
}

.column.wide {
  width: 240px;
}

.canvasWrapper {
  position: relative;
}

.canvas {
  width: 800px;
  height: 600px;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}
