.root {
  display: flex;
  height: 100%;
}

.column {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  min-width: 100px;
  padding: 8px;
}

.column.players {
  width: 190px;
}

.column.wide {
  width: 240px;
}

.canvasWrapper {
  position: relative;
  flex-grow: 1;
  min-width: 100px;
  min-height: 100px;
}

.canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}
