.root {
  display: flex;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 8px;
}

.canvasWrapper {
  position: relative;
}

.canvas {
  width: 800px;
  height: 600px;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}
