.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titleBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.title {
}

.list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
  overflow-x: hidden;
}

.turnBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4px 6px;
  border: 1px solid #000;
  border-bottom: none;
  background: none;
  font-size: 14px;
  appearance: none;
  cursor: pointer;
  text-align: unset;
}

.turnBlock:hover {
  background: #ecf0ff;
}

.turnBlock:last-child {
  border-bottom: 1px solid #000;
}

.turnBlock.best {
  background: #e0ffe0;
}

.score {
  font-size: 14px;
}
